flwr==1.8.0
torch
torchvision
torchaudio
flwr-datasets[vision]>=0.0.2, <1.0.0
tqdm~=4.66.1
# --extra-index-url https://download.pytorch.org/whl/cu116
# fltb # Omitting this for now
# With this dependency we need to install fltb before we install the user requirements
# This forces the user code requirements to be reinstalled everytime we change the colext package code