apiVersion: v1
kind: Pod
metadata:
  name: fl-server
  labels:
    colext-dev-type: server
    colext-job-id: "{{ job_id }}"
spec:
  containers:
  - name: fl-server
    image: {{ image }}
    command: ["bash", "-c"]
    args: ["python3 {{ entrypoint }} {{ entrypoint_args }}"]
    env:
      - name: COLEXT_ENV
        value: "1"
      - name: COLEXT_JOB_ID
        value: "{{ job_id }}"
      - name: COLEXT_N_CLIENTS
        value: "{{ n_clients }}"

      - name: COLEXT_DATA_HOME_FOLDER
        value: "/colext/datasets"
      - name: COLEXT_PYTORCH_DATASETS
        value: "/colext/pytorch_datasets"

    volumeMounts:
      - mountPath: /colext/datasets
        name: colext-std-datasets
      - mountPath: /colext/pytorch_datasets
        name: colext-pytorch-datasets

    ports:
      - containerPort: 8080
        name: flserver-port
    startupProbe:
      tcpSocket:
        port: flserver-port
      initialDelaySeconds: 10
      periodSeconds: 10
      failureThreshold: 10

  volumes:
    - name: colext-std-datasets
      hostPath:
        path: {{ std_datasets_path }}
        type: Directory
    - name: colext-pytorch-datasets
      hostPath:
        path: {{ pytorch_datasets_path }}
        type: Directory
  restartPolicy: Never
  imagePullSecrets:
    - name: regcred
  nodeSelector:
    kubernetes.io/hostname: colext
