--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
flwr-datasets[vision]==0.5.0
tqdm==4.66.1
flwr==1.8.0
colext[plotting] @ git+https://git@github.com/sands-lab/colext.git